# Ignorar arquivos de compilação e caches
*.pyc
__pycache__/

# Ignorar ambientes virtuais
venv/
.env/

# Ignorar arquivos de log e temporários
*.log
*.tmp

# Ignorar arquivos do sistema
.DS_Store

# Ignorar arquivos do editor
.vscode/
.idea/
